/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

html { 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

hr {
  background-color: #3c0801;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Our styles
*/

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/overpass-extralight.woff2') format('woff2'),
       url('../fonts/overpass-extralight.woff') format('woff');
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/overpass-extralight-italic.woff2') format('woff2'),
       url('../fonts/overpass-extralight-italic.woff') format('woff');
       font-weight: 300;
       font-style: italic;
}

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/overpass-regular.woff2') format('woff2'),
       url('../fonts/overpass-regular.woff') format('woff');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/overpass-italic.woff2') format('woff2'),
       url('../fonts/overpass-italic.woff') format('woff');
       font-weight: 500;
       font-style: italic;
}

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/overpass-bold.woff2') format('woff2'),
       url('../fonts/overpass-bold.woff') format('woff');
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/overpass-bold-italic.woff2') format('woff2'),
       url('../fonts/overpass-bold-italic.woff') format('woff');
       font-weight: 700;
       font-style: italic;
}

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/overpass-heavy.woff2') format('woff2'),
       url('../fonts/overpass-heavy.woff') format('woff');
       font-weight: 900;
       font-style: normal;
}

html {
  background-color: #efe6d5;
}

body {
  color: #3c0801;
  font-family: "Overpass", Roboto, DejaVu Sans, sans-serif;
  font-weight: 500;
  font-size: 100%;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #e73213; /* #efe6d5 */
  transition: border-color 0.6s linear;
  border-bottom: 0px solid transparent;
}

a:hover,
a:focus {  
  color: #e73213;
  border-bottom: 1px solid #e73213;
}

p:not(:last-child) {
  margin-bottom: 0.75rem;
}

abbr {
  text-decoration: none;
  cursor: help;
  -webkit-animation-name: glow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

abbr:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes glow {
  0% {color: #3c0801;}
  20% {color: #3c0801;}
  53% {color: #ad2d16;}
  100% {color: #3c0801;}
}

@keyframes glow {
  0% {color: #3c0801;}
  20% {color: #3c0801;}
  53% {color: #ad2d16;}
  100% {color: #3c0801;}
}

span.switch {
  display: inline-block;
  position: relative;
  width: auto;
  vertical-align: baseline;
}

/*
* Esconder visualmente o a/o mas deixar o conteúdo acessível a leitores de ecrã:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

span.switch em {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

span.switch::before,
span.switch::after {
  display: inline-block;
  width: auto;
  margin: 0;
  text-align: left;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

span.switch::before {
  content: "a";
  -webkit-animation-name: fade1;
  animation-name: fade1;
}

span.switch::after {
  content: "o";
  position: absolute;
  left: 0;
  -webkit-animation-name: fade2;
  animation-name: fade2;
}

@-webkit-keyframes fade1 {
  0% {opacity: 1;}
  20% {opacity: 1;}
  53% {opacity: 0;}
  73% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fade2 {
  0% {opacity: 0;}
  20% {opacity: 0;}
  53% {opacity: 1;}
  73% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fade1 {
  0% {opacity: 1;}
  20% {opacity: 1;}
  53% {opacity: 0;}
  73% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade2 {
  0% {opacity: 0;}
  20% {opacity: 0;}
  53% {opacity: 1;}
  73% {opacity: 1;}
  100% {opacity: 0;}
}

#hero,
#main article,
#conclusion,
#footer {
  width: calc(100% - 2rem);
  padding: 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero {
  background-color: #9dbeb7;
  min-height: calc(90vh - 2rem);
}

#hero .wrap {
  margin: 1rem;
}

#header h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  /* white border
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  */
}

#header h4 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 1rem 0 2rem;
}

#hero p {
  font-size: 1.45rem;
}

#main {
  font-size: 1.25rem;
}

#main article {
  color: #efe6d5;
  background-color: #e73213;
  min-height: calc(50vh - 2em);
}

#main article:nth-child(2n) {
  color: #3c0801;
  background-color: #9dbeb7;
}

#main article abbr {
  -webkit-animation-name: lightglow;
  animation-name: lightglow;
}

#main article:nth-child(2n) abbr {
  -webkit-animation-name: glow;
  animation-name: glow;
}

@-webkit-keyframes lightglow {
  0% {color: #efe6d5;}
  20% {color: #efe6d5;}
  53% {color: #fff;}
  100% {color: #efe6d5;}
}

@keyframes lightglow {
  0% {color: #efe6d5;}
  20% {color: #efe6d5;}
  53% {color: #fff;}
  100% {color: #efe6d5;}
}

#main .wrap {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  grid-gap: 1em;
  align-items: baseline;
}

#main article h4 {
  font-size: 2.15rem;
  line-height: 1.1;
  font-weight: 700;
  padding: 0 0 1em 0;
}

#main article p {
  font-size: 1.45rem;
}

#main article p:not(:last-child) {
  margin-bottom: 1rem;
}

#main article a.more,
#main article .inactive {
  color: #efe6d5;
  background-color: rgba(60, 8, 1, 0.7); /*#3c0801*/
  font-size: 0.975rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: background-color 300ms ease-out;
}

#main article:nth-child(2n) a.more {
  color: #efe6d5;
  transition: background-color 300ms ease-out, color 300ms ease-out;
}

#main article a.more:hover,
#main article a.more:focus {
  color: #efe6d5;
  background-color: rgba(60, 8, 1, 1);
}

#main article:nth-child(2n) a.more:hover,
#main article:nth-child(2n) a.more:focus {
  color: #efe6d5;
}

#main article a.more::after,
#main article .inactive::after {
  content: "▶";
  font-size: 0.75rem;
  display: inline-block;
  margin-left: 0.5rem;
  padding-bottom: 0.1125rem;
  vertical-align: middle;
}

#main article .inactive {
  opacity: 1;
  color: #ccc;
  background-color: #999;
  /*text-decoration: line-through solid #ccc;*/
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

#main article .inactive::after {
  text-decoration: line-through solid #ccc;
}

#main article .soon {
  font-size: 1.15rem;
  line-height: 1;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 0.5rem;
  opacity: 0.7;
}

#main form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;
  margin: 1.25rem 0 0.5rem;
}

input {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  border-radius: 2;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1;
}

#main form input[type="email"] {
  border: 1px solid rgba(231, 50, 19, 0.8);
  background-color: #efe6d5;
  min-width: 16rem;
  transition: background-color 0.25s ease-out, border-color 0.25s ease-out;
}

#main form input[type="email"]:focus {
  border-color: #e73213;
  background-color: #fff;
}

#main form input[type="submit"] {
  cursor: pointer;
  background-color: rgba(231, 50, 19, 0.8);
  border: 1px solid #e73213;
  font-weight: 700;
  color: #efe6d5;
  transition: background-color 0.25s ease-out;
}

#main form input[type="submit"]:hover,
#main form input[type="submit"]:focus {
  background-color: #e73213;
}

#conclusion {
  background-color: #fff;
}

#conclusion .wrap {
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em 2em;
  align-items: baseline;
}

#conclusion article {}

#conclusion article h4 {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
  padding: 0 0 0.5rem 0;
  min-height: 6rem;
}

#conclusion article p,
#conclusion article ul {
  font-size: 1.25rem;
  line-height: 1.3;
}


#conclusion article p:not(:last-child),
#conclusion article li:not(:last-child) {
  margin-bottom: 0.75rem;
}

#conclusion article ul {
  margin-left: 0.75rem;
}

#conclusion article li {
  list-style-type: '—';
  padding-left: 0.75rem;
}

#footer {
  color: #efe6d5;
  background-color: #3c0801;
}

#footer .wrap {
  margin: 2em auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1em 2em;
  align-items: baseline;
  width: 100%;
}

#footer img {
  display: block;
  height: 40px;
  width: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Single page
*/

#top-nav {
  background-color: #fff;
  width: 100%;
  padding: 0.75rem 2rem;
  margin: 0;
  border: 1rem solid #efe6d5;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 900;
}

#top-nav a {
  color: #e73213;
  opacity: 0.7;
  transition: opacity 0.25s ease-out;
}

#top-nav a:hover,
#top-nav a:focus {
  opacity: 1;
}

#top-nav .site-name {
  margin-right: 1rem;
}

#top-nav .next {
  margin-left: 1rem;
}

#top-nav .site-name a::before {
  content: "●";
  font-size: 0.75rem;
  display: inline-block;
  margin-right: 0.5rem;
  padding-bottom: 0.1125rem;
  vertical-align: middle;
}

#top-nav .next a::after {
  content: "▶";
  font-size: 0.75rem;
  display: inline-block;
  margin-left: 0.5rem;
  padding-bottom: 0.1125rem;
  vertical-align: middle;
}

/* #top-nav + #hero {
  margin-top: 0;
}*/


#header h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 1rem 0 2rem;
}

.page #main article {
  color: #3c0801;
  background-color: #9dbeb7;
}

.page #main article .wrap {
  grid-template-columns: 0.45fr 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page #main article abbr {
  -webkit-animation-name: glow;
  animation-name: glow;
}

.page #main article a {
  color: #3c0801;
  border-bottom: 1px solid #efe6d5; 
  opacity: 0.7;
  transition: opacity 0.25s ease-out;
}

.page #main article a:hover,
.page #main article a:focus {
  opacity: 1;
}

.page #main article p {
  line-height: 1.4;
}

.page #main article p:not(:last-child) {
  margin-bottom: 2rem;
}

.page #main article em {
  font-style: italic;
}
  

.page #main article blockquote {
  margin: 2rem 0 2rem 2rem;
  max-width: 90%;
  font-weight: 300;
  line-height: 1.4;
  padding: 2rem 4rem;
  background-color: rgba(239, 230, 213, 0.6); /* #efe6d5;*/
}



/* Media Queries
*/

@media screen and (max-width: 375px) {
  
  #main article h4 { font-size: 2rem;  padding-bottom: 0.5rem; }
  #hero p,
  #main article p,
  #main article p { font-size: 1.25rem; }
  
  #hero,
  #main article { padding: 1.5em 1.25em; }
  
  #header h1 { font-size: 9vw; font-weight: 900; }
  #header h4 { font-size: 1.75rem; font-weight: 400; }
  #header h2 { font-size: 2.25rem; }
  
  #hero, #main article, #conclusion {
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
  }
  
  #conclusion article h4 {
    min-height: auto;
  }
  
}

@media screen and (min-width: 376px) and (max-width: 768px) {

  #header h1 { font-size: 10vw; }
  #header h4 { font-size: 5vw; }
  
}

@media screen and (max-width: 768px) {

  #main .wrap,
  #conclusion .wrap,
  .page #main article .wrap,
  #footer .wrap {
    display: block;
    margin-top: 0;
  }

  #top-nav {
    padding: 0rem 0;
    position: relative;
  }
  
  #top-nav h4,
  #top-nav h6 {
    padding: 0.5rem 1rem;
  }
  
  #top-nav .site-name {
    margin: 0 0 0.25rem;
    border-bottom: 1px solid #efe6d5;
  }
  
  #top-nav .next {
    margin: 0.25rem 0 0;
    border-top: 1px solid #efe6d5;
  }
  
  .wrap {
    width: 100%;
  }
  
  #hero .wrap { margin: 1rem 0;}
  
  #main form {
    flex-wrap: wrap;
  }
  
  #main form input[type="email"],
  #main form input[type="submit"] {
    width: 100%;
  }
   
  #conclusion article:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #9dbeb7;
  }
  
  .page #main article blockquote {
    margin: 1rem 0 1rem 1rem;
    max-width: 100%;
    padding: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
  
  .wrap {
    width: 80%;
  }
  
  #header h1 { font-size: 9vw; }
  #header h4 { font-size: 2.25rem; }
  
  .page #main article .wrap {
    grid-template-columns: 0.30fr 1fr;
  }
  
  #conclusion article li {
    max-width: 90%;
  }
  
  #conclusion .wrap {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  
  #conclusion article:first-child,
  #conclusion article:nth-child(2) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #9dbeb7;
  }
  
  .page #main article blockquote {
    max-width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
  }
}

@media screen and (min-width: 1440px) {
  #hero .wrap {
    width: 52%;
  }
  #main .wrap {
    width: 72%;
  }
  
  #conclusion article li {
    max-width: 85%;
  }
}


